body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

.logo img {
    width: 250px;
    height: 40px;
}

.header-color {
    background-color: #FFFFF4;
}
.service-area img {
    width: 80px;
    height: 80px;
}

.hero-area h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 700;
    color: #363958;
}

.hero-area h1 span {
    color: #76C27E;
}
.hero-area p {
    padding-right: 200px
}
.buy-button {
    background-color: #2A1E59;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 30px;
    line-break: auto;
}
button .buy-button p {
    padding-right: 15px;
}
.card {
    border: none;
}
.card-shadow img {
    background-color: #F1F1F1;
    border-radius: 10px;
}
.card-footer {
    border: none;
    background-color: #fff;
    color: #76C27E;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}